<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pg.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.pg.servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.pg.servlet.Check</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImgReciver</servlet-name>
    <servlet-class>com.pg.servlet.ImgReciver</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.pg.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet>
  <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecycle</servlet-name>
    <servlet-class>com.pg.servlet.AddRecycle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRecycle</servlet-name>
    <servlet-class>com.pg.servlet.GetRecycle</servlet-class>
  </servlet>  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetPrice</servlet-name>
    <servlet-class>com.pg.servlet.GetPrice</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgReciver</servlet-name>
    <url-pattern>/ImgReciver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecycle</servlet-name>
    <url-pattern>/AddRecycle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRecycle</servlet-name>
    <url-pattern>/GetRecycle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPrice</servlet-name>
    <url-pattern>/GetPrice</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
